html, body {
    height:100%;
    margin:0;
    padding:0;
}

body {
    background-color: #00284d;
}

.game-container {
    width:100%;
    height:100%;
}

.left-col{
    width:16.8%;
    height:100%;
    padding:20px;
    color:white;
    border:solid;
    border-color:#2c1500;
    border-radius:20px;
    background-color:rgba(99, 67, 43,40%);
}

.mid-col{
    width:60%;
    height:100%;
    padding:20px;
    color:white;
    border:solid;
    border-color:rgb(44, 44, 44);
    border-radius:20px;
    background-color:rgb(44, 44, 44,50%);
}

.right-col{
    width:17.4%;
    height:100%;
    padding:20px;
    color:white;
    border:solid;
    border-color:#2c1500;
    border-radius:20px;
    background-color:rgba(99, 67, 43,40%);
}

.board-top, .board-bottom {
    padding:0;
    margin:0;
    height:10%;
}

.board {
    padding:0;
    margin:0;
    width:100%;
    border-radius:5px;
}

.header {
    background-color:darkblue;
    color:white;
    border:solid;
    display:block;
}

.sidebar {
    float:left;
    width:14%;
    height:100%;
    border-right:solid;
    border-color:#0d6efd;
    position:fixed;
}

.navbar-h2 {
    text-align: center;
}

.content-panel {
    float:right;
    height:100%;
    width:100%;
    background-color:black;
    color:white;
    padding-top:2%;
    padding-left:16%;
    overflow:auto;
}

.ucs_page_content {
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

.ucs_graph_div {
    background-color: #212529;
    height:70%;
    width:70%;
    border-radius: 10px;
    padding: 5px;
    float:left;
}

.ucs_graph {
    background-color:whitesmoke;
    border-radius: 5px;
    height:100%;
    width:100%;
}

.ucs_controls_div {
    background-color: #212529;
    height:25%;
    width:70%;
    float:left;
    margin-top:1%;
    border-radius:10px;
    padding: 5px;
}

.ucs_controls {
    background-color:#2f3439;
    border-radius: 5px;
    height:100%;
    width:100%;
}

.ucs_details_div {
    background-color: #212529;
    height:96.7%;
    width:20%;
    float:right;
    margin-right:9%;
    border-radius:10px;
    padding: 5px;
}

.ucs_details {
    background-color:#2f3439;
    border-radius: 5px;
    height:100%;
    width:100%;
}

.ucs_table {
    height:100%;
    width:55%;
}

.ucs_table_row {
    height:50%;
    width:100%;
}

.ucs_table_data {
    height:40%;
    width:10%;
    padding-left:20px;
}

.ucs_btn {
    background-color:#0d6efd;
    border: none;
    color: white;
    padding:0;
    text-align: center;
    font-size: 16px;
    margin:0;
    border-radius: 10px;
    width:70%;
    height:50%;
}

.chessboard_div {
    background-color: #212529;
    height:fit-content;
    width:50%;
    border-radius: 10px;
    padding: 5px;
    float:left;
}

.chessboard_controls_div {
    height:fit-content;
    width:20%;
    float:left;
    margin-top:1%;
    border-radius:10px;
    padding: 5px;
}

.chessboard_controls {
    border-radius: 5px;
    height:100%;
    width:100%;
}

.chessboard_btn {
    background-color:#0d6efd;
    border: none;
    color: white;
    padding:0;
    text-align: center;
    font-size: 16px;
    margin:1%;
    border-radius: 10px;
    width:50%;
    height:50px;
}

.chess_white_btn {
    background-color:white;
    border: solid;
    color: black;
    border-color:black;
    padding:0;
    text-align: center;
    font-size: 16px;
    margin:1%;
    border-radius: 10px;
    width:50%;
    height:50px;
}

.chess_black_btn {
    background-color:#212529;
    border: solid;
    color: white;
    border-color:black;
    padding:0;
    text-align: center;
    font-size: 16px;
    margin:1%;
    border-radius: 10px;
    width:50%;
    height:50px;
}

.chessboard_details_div {
    background-color: #212529;
    height: 75.7%;
    width:30%;
    float:left;
    margin-left:1%;
    border-radius:10px;
    padding: 5px;
}

.chessboard_details {
    background-color:#2f3439;
    border-radius: 5px;
    height:100%;
    width:100%;
}

.doc_content_div {
    margin-left:3%;
    margin-right:5%;
    margin-top:2%;
    margin-bottom:7%;
}

.doc_header_div {
    margin:0%;
    margin-bottom:0%;
}

.doc_module_div {
    margin:0%;
    margin-bottom:2%;
    padding:2%;
    width:100%;
    height:fit-content;
    border:solid;
    background-color:rgba(255, 255, 255, 0.1);
    border-color:#303030;
    border-width:0.15em;
    border-radius:7px;
}

.add_module_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin-bottom: 2%;
}

.add_module_btn_div {
    display: flex;
    align-items: center;
    height:fit-content;
    width:fit-content;
    justify-content: space-between;
}

.add_module_btn {
    margin-left:5px;
    margin-right:5px;
}

.add_module_component_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    margin-bottom: 2%;
}

.add_subcomponent_entry_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    margin-bottom: 2%;
}

.module_subcomponent_div {
    padding: 2%;
    padding-top:0%;
    padding-bottom:0%;
}

.parameters-list {
    background-color: rgba(255, 255, 255, 0.05);
    padding-top:10px;
    padding-right:30px;
    padding-bottom:13px;
    list-style-type: none;
    border-radius:5px;
    width:fit-content;
}

.add-form {
    background-color: rgba(255, 255, 255, 0.1);
    padding:2%;
    list-style-type: none;
    border-radius:5px;
    height:fit-content;
    width:100%;
}

.active {
    background-color:red;
}