html, body {
    height:100%;
    margin:0;
    padding:0;
}

body {
    background-color: #00284d;
}

.game-container {
    width:100%;
    height:100%;
}

.left-col{
    width:16.8%;
    height:100%;
    padding:20px;
    color:white;
    border:solid;
    border-color:#2c1500;
    border-radius:20px;
    background-color:rgba(99, 67, 43,40%);
}

.mid-col{
    width:60%;
    height:100%;
    padding:20px;
    color:white;
    border:solid;
    border-color:rgb(44, 44, 44);
    border-radius:20px;
    background-color:rgb(44, 44, 44,50%);
}

.right-col{
    width:17.4%;
    height:100%;
    padding:20px;
    color:white;
    border:solid;
    border-color:#2c1500;
    border-radius:20px;
    background-color:rgba(99, 67, 43,40%);
}

.board-top, .board-bottom {
    padding:0;
    margin:0;
    height:10%;
}

.board {
    padding:0;
    margin:0;
    width:700px;
}

.header {
    background-color:darkblue;
    color:white;
    border:solid;
    display:block;
}

.sidebar {
    float:left;
    height:100%;
    border-right:solid;
    border-color:white;
    position:fixed;
}

.navbar-h2 {
    text-align: center;
}

.content-panel {
    float:right;
    height:100%;
    width:86%;
    background-color:black;
}